@import url('https://fonts.googleapis.com/css2?family=Lato');
* {
    font-family: 'Lato', sans-serif;
}


p {
    font-size: 17px !important;
}

body, html {
    height: 100vh;
    color:#E0E0DC;
    scroll-behavior: smooth;
}

#czqoHeaderLight, .page-footer {
    background-color: rgb(0, 0, 0);
}
#czwgHeader {
    background-color: #6CC24A;
}

#czqoHeaderImg {
    width: 225px;
    margin-bottom: 4px;
    height: 100%;
}

::placeholder {
  color: white !important;
  opacity: 0.3 !important;
}

@media (max-width: 768px) {
    #czqoHeaderImg {
        margin-left: 10px;
    }
}

.jumbotron {
    border-radius: 0;
}

.dropdown-menu .dropdown-item {
    padding-left: 15px !important;
}

.dropdown-menu .dropdown-item.active, .dropdown-item:active {
    background: #6CC24A;
}

.staff_img_container {
    height: 125px;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.staff_img_container .staff_img_object {
    width: 125px;
    background: inherit;
    display: inline-block;
    vertical-align: middle;
}

.staff_img_container img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: inherit;

}

.staff_img_container .img_overlay {
     position: absolute;
     z-index: 998;
     top: 0;
     opacity: 0;
     height: 125px;
     width: 125px;
     border-radius: 50%;
     background: inherit;
    transition: 0.5s ease;
}

.staff_img_container .img_overlay_text{
    z-index: 999;
    color: white;
    margin-top: 40%;
    opacity: 1;
    font-size: 1.5em;
}

.staff_img_container .img_overlay_text a {
    transition: 0.4s ease;
    color: #fff;
}

.staff_img_container .img_overlay_text a:hover {
    text-decoration: underline;
}

.staff_img_container .img_overlay:hover {
    opacity: 0.6;
    background: #000;
}

.profile-img {
    border-radius: 50%;
}

.btn-discord {
    background: #7289da !important;
    color: #212124 !important;
}

.btn {
    text-transform: none !important;
}

.btn_form {
    text-transform: none !important;
}

a {
    transition: 0.8s ease;
}

a:hover {
    text-decoration: none;
    color: #6CC24A !important;
}

div.d-flex.flex-row > i {
    vertical-align: middle;
}

.nav-item .active {
    color:#6CC24A!important;
}

.dropdown-item.active {
    color: #212124!important;
}

.dropdown-item:active {
    color: #6CC24A!important;
    background: none!important;
}

.bg-czqo-blue-light {
    background-color: #cfeaff !important;
    color: #000;

}

.btn .bg-czqo-blue-light:not([disabled]):not(.disabled):active {
    background-color: #cfeaff !important;
    color: #6CC24A !important;
}

.list-group-item.active {
    background-color: #6CC24A;
}

.btn, .btn:hover, .btn:active {
    box-shadow: none !important;
    border-radius: .45em !important;
}

.custom-file {
    border: 1px solid #E0E0DC;
    border-radius: .45em !important;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    border-left: 1px solid #E0E0DC;
}

.modal-content .modal-header h5.modal-title {
    font-weight: 700 !important;
    color: #6CC24A!important;
    font-size: 1.2rem;
}

.modal-dialog .modal-content {
    border-radius: 0.5em !important;
}

.card {
    border-radius: 0.5em !important;
}

.card .homepage-news .homepage-news-img {
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
}

.list-group-item.card-bottom-border {
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
}

.list-group-item.card-top-border {
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
}

.rounded-0 {
    border-radius:0 !important;
}

.blue {
    background-color: #6CC24A !important;
}

.blue-text {
    color: #6CC24A !important;
}

.btn-primary {
    background-color: #00d5c3 !important;
}

.btn-local {
    background-color: #2ecc71 !important;
    color: #fff;
}

.btn-radar {
    background-color: #1f8b4c !important;
    color: #fff;
}

.btn-enroute {
    background-color: #11806a !important;
    color: #fff;
}

.bg-ins {
    background-color: #6CC24A;
}

.dashboard-card-actions {
    font-size: 1.3em !important;
    color: #6CC24A;
    font-weight: 600;
}

div.notes{
    width:400px;
    height:800px;
    border-style: solid;
    border-color: red;
    margin:1px; padding:1px;
    word-wrap:break-word;
}

/* Style for Roster Icons */

.icon-no-cert {

    color: #F15025;
    font-size: 1.5em;

}

.icon-mentor {
    color: #E3B031;
    font-size: 1.5em;
}

.icon-solo {
    color: #B2D33C;
    font-size: 1.5em;
}

.icon-certified {
    color: #6CC24A;
    font-size: 1.5em;
}

.icon-error {
    color: #9d0000;
    font-size: 1.5em;
}

/*Syle for articles*/

.content-warning {
    color: #F15025;
    font-size: 1.2em;
}

.content-link {
    font-size:1.2em;
    text-decoration: underline;
}

.content-paragraph {
    font-size: 1.2em;
}

.content-font-color {
    color: #fff !important;
}

.content-font-color-dark {
    color: #222 !important;
}
/* Style for content boxes */

.box-colour {
    background-color: #222;
}

.placeholder-font-color {
    color:#666;
}

/* Style for numbered step circles */

.circle-color {
    background-color:#6CC24A !important;
}

.roster-legend {
    padding: 1.25rem;
    flex: 1 1 auto;
    background-color: #2E2F2F;
}

.form-control{
    color: #E6E8E6;
}

.close {
  color: white !important;
}

.modal-content{
    background: #2E2F2F;
}

.pagination .page-item .page-link{
    color: #E6E8E6;
}

.nav-tabs .nav-link{
    color: #E6E8E6;
}

.list-group-item {
    background-color: #444;
    color: #E6E8E6;
}

table.table a {
    color: #007bff;
}
