.main-colour {
    background-color: #191919;
}

.background {
    background-color: #191919;
}

.text-colour {
    color: #E6E8E6;
    /* color:#2E2F2F; */
}

.vancouver-text{
    color: #E6E8E6;
    /* color:#2E2F2F; */
}

.card {
    background: #2E2F2F ;
    /* background: #E6E8E6; */
}

.card-body {
    background-color: #2E2F2F;
    /* background-color: #E6E8E6; */
}

.corner {
    border-radius: 5px;
}

.VFR {
    background-color: #6CC24A;
}

.IFR {
    background-color: #E3B031;
}

.MVFR {
    background-color: #B2D33C;
}

.LIFR {
    background-color: #F15025;
}
