.main-colour {
    background-color: #191919;
    /* im not sure why this isnt updating*/
}

.background {
    background-color: #191919;
}

.text-colour {
    color: #E6E8E6;
    /* color:#2E2F2F; */
}

.vancouver-text{
    color: #E6E8E6;
    /* color:#2E2F2F; */
}

.card {
    background: #2E2F2F ;
    border-radius: 2px !important;
    /* background: #E6E8E6; */
}

.card-padding {
    padding-right: 0.5% !important;
    padding-left: 0.5% !important;
    padding-top: 0% !important;
}

.card-header {
    font-size:1.6em;
}

.card-body {
    background-color: #2E2F2F;
    /* background-color: #E6E8E6; */
}

.corner {
    border-radius: 5px;
}

.VFR {
    background-color: #6CC24A;
}

.IFR {
    background-color: #E3B031;
}

.MVFR {
    background-color: #B2D33C;
}

.LIFR {
    background-color: #F15025;
}
