.main-colour {
    background-color: #424242;
}

.card {
    background: #CBCBC8;
}

.card-body {
    background-color: #CBCBC8;
}

.corner {
    border-radius: 5px;
}

.VFR {
    background-color: green;
}

.IFR {
    background-color: red;
}

.MVFR {
    background-color: lightskyblue;
}

.LIFR {
    background-color: lightpink;
}
